/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #0f0f0f;
    color: #fff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 25px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000c5;
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #1f1f1f;
    position: fixed;
    top: 0;
    z-index: 50;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    opacity: 0.85;
    transition: .3s;
}

.nav-links a:hover {
    opacity: 1;
}

/* HERO */
.hero {
    height: 80vh;
    background: url('https://images.pexels.com/photos/145939/pexels-photo-145939.jpeg') center/cover no-repeat;
    filter: brightness(0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.hero-content {
    text-align: center;
    max-width: 700px;
}

.hero h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero p {
    opacity: 0.9;
    margin-bottom: 25px;
}

.btn {
    background: #2ecc71;
    color: #000;
    padding: 14px 28px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.btn:hover {
    background: #27ae60;
}


/* HABITATS */
.habitat-section {
    padding: 80px 40px;
    text-align: center;
}

.habitat-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 32px;
}

.habitat-card {
    background: #111;
    border-radius: 14px;
    padding-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px #000;
    transition: .3s;
}

.habitat-card:hover {
    transform: translateY(-8px);
}

.habitat-card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.habitat-card h3 {
    margin: 15px 0;
    font-size: 22px;
}

.habitat-card p {
    opacity: 0.85;
    padding: 0 18px;
    margin-bottom: 12px;
}

.habitat-card ul {
    list-style: none;
    opacity: .9;
}


/* PREÇOS */
.precos {
    padding: 80px 40px;
    text-align: center;
    background: #141414;
}

.precos-grid {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.preco-card {
    background: #111;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
}

.preco-card.destaque {
    border: 1px solid #2ecc71;
}

.valor {
    margin-top: 12px;
    font-size: 24px;
    color: #2ecc71;
    font-weight: bold;
}


/* AGENDAMENTO */
.agendamento {
    padding: 90px 40px;
    text-align: center;
}

form {
    max-width: 480px;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input,
select {
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #252525;
    color: #fff;
}

button.btn {
    border: none;
    cursor: pointer;
}
/* SEÇÃO EDUCATIVA 1*/
.educativo {
    padding: 90px 40px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);
    margin-top: 80px;
}

.educativo h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.educativo .sub {
    text-align: center;
    opacity: 0.7;
    margin-bottom: 50px;
}

.edu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 40px;
}

.edu-card {
    background: #111;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    transition: 0.3s ease;
}

.edu-card:hover {
    transform: translateY(-6px);
}

.edu-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.edu-info {
    padding: 20px;
    line-height: 1.5;
}

.edu-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.curiosidade {
    margin-top: 12px;
    font-style: italic;
    color: #d2c440;
}

/* RESPONSIVO */
@media (max-width: 780px) {
    .educativo {
        padding: 60px 20px;
    }
}

/* SEÇÃO AMEAÇAS E CONSERVAÇÃO */
.conservacao {
    padding: 90px 40px;
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
}

.conservacao h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.conservacao .sub {
    text-align: center;
    opacity: 0.75;
    max-width: 700px;
    margin: 0 auto 50px auto;
}

.cons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
}

.cons-card {
    background: #111;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    transition: .3s ease;
}

.cons-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 35px rgba(255,255,255,0.08);
}

.icon {
    font-size: 38px;
    margin-bottom: 15px;
}

.cons-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.cons-card p {
    opacity: 0.85;
    margin-bottom: 10px;
    line-height: 1.5;
}

.acao {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #d2c440;
    font-style: italic;
}

/* RESPONSIVIDADE */
@media (max-width: 780px) {
    .conservacao {
        padding: 60px 20px;
    }
}

